<launch>
  <!-- <node pkg="turtlebot3_gazebo" type="turtlebot3_stage_1.launch"     name="turtlebot3_stage_1_node"/> -->
  <!-- <node pkg="package_turtlebot_ogu" type="fsm.py"                    name="state_machine_node" output="screen"/> -->
  <!-- <node pkg="package_turtlebot_ogu" type="lidar.py"                  name="lidar_node" /> -->
  <!-- <node pkg="turtlebot3_teleop"     type="turtlebot3_teleop_key"     name="turtlebot3_teleop_keyboard_node" output="screen"/> -->
</launch>